MONGODB_URI=
AUTH_SECRET=
AUTH_ORIGIN=
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_REPLY_TO=
MAPBOX_ACCESS_TOKEN=

# SIMPRS - SatuSehat FHIR
SATUSEHAT_BASE_URL=https://api-satusehat-dev.dto.kemkes.go.id
SATUSEHAT_CLIENT_ID=
SATUSEHAT_CLIENT_SECRET=
SATUSEHAT_ORG_ID=

# SIMPRS - SINOAP
SINOAP_BASE_URL=
SINOAP_API_KEY=
SINOAP_FACILITY_ID=

# SIMPRS - BPJS
BPJS_PCARE_URL=
BPJS_VCLAIM_URL=
BPJS_CONS_ID=
BPJS_SECRET_KEY=
BPJS_USER_KEY=
BPJS_PPK_CODE=

# SIMPRS - Identitas RS
RS_NAME=
RS_CODE=
